.card {
  display: grid;
  justify-items: center;
  background-size: cover;
  background: no-repeat center;
  height: 400px;
  width: 400px;
  margin: 20px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px #ebc;
  border-radius: 50%;
}
.card-name {
  text-decoration: none;
  color: #c17cb3;
  font-family: 'Titan One';
}
.link {
  text-decoration: none;
}
