.individual-card {
  display: grid;
  justify-items: center;
  grid-gap: 20px;
}
.individual-description {
  margin: 10px 50px 30px 50px;
  color: #e5c5c4;
  font-family: 'Roboto';
  font-size: 1.5em;
}
.individual-name {
  font-family: 'Titan One';
  color: #e5c5c4;
  font-size: 3.5em;
  margin: 0;
}
.back-btn {
  color: #e5c5c4;
}