@import url('https://fonts.googleapis.com/css?family=Titan+One');
.begin-game {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 60%;
    animation: spin-right 5s linear infinite;
}
.game-nav {
    font-family: 'Titan One', cursive;
    text-decoration: none;
    color: white;
    font-size: 2em;
    text-align: center;
    background: #c17cb3;
    padding: 10px;
    border-radius: 15px;
}

.game-nav:hover {
    font-family: 'Titan One', cursive;
    text-decoration: none;
    color: white;
    text-align: center;
    background: #97638c;
    padding: 10px;
    border-radius: 15px;
    box-shadow: inset -4px -3px 2px white
}
.planet-orbit {
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background: #e5c5c4;
    height: 100%;
}
.button-text {
    animation: spin-left 5s linear infinite;
}
@-webkit-keyframes spin-right {

    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin-left {
    0% {
        -webkit-transform: rotate(360deg);
    }
    100%{
        -webkit-transform: rotate(0deg);
    }
}

@media (min-width: 320px) and (max-width: 540px) {
    .begin-game {
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        height: 320px;
        width: 320px;
        display: grid;
        background: #c17cb3;
        margin: auto;
        margin-top: 100px;
    }
    .planet-orbit {
        display: none;
    }
    .game-nav {
        align-self: center;
        border: solid;
        font-size: 1.5em;
    }
}
@media (min-width: 540px) and (max-width: 739px) {
  .begin-game {
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        height: 320px;
        width: 320px;
        display: grid;
        background: #c17cb3;
        margin: auto;
        margin-top: 100px;
    }
    .planet-orbit {
        display: none;
    }
    .game-nav {
        align-self: center;
        border: solid;
        font-size: 1.5em;
    }  
}